<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Home</title>
	<link rel="stylesheet" type="text/css" href="css/default/easyui.css">
	<link rel="stylesheet" type="text/css" href="css/color.css">
	<link rel="stylesheet" type="text/css" href="css/icon.css">
	<script type="text/javascript" src="lib/jquery.min.js"></script>
	<script type="text/javascript" src="lib/jquery.easyui.min.js"></script>
	<script type="text/javascript" src="lib/socket.io/socket.io.js"></script>
	<script type="text/javascript" src="lib/sc_clock.js"></script>
</head>
<body>	
	<div style="margin-top:6px;padding:5px;">
	用户名：<%= user.username %>
	编号：<%= user.index %>
	机器密码：<%= user.code %>
	<span style="font-size:16px;padding:5px;">当前时间：</span>
	<input class="easyui-textbox" type="text" id="currTime" style="width:130px;height:20px;padding:5px;" data-options="readonly:true"></input>
	<a id="quit" class="btn" href="/logout">退出</a>	
	</div>
	<div class="easyui-panel" id="container" title="控制器" style="padding:5px;width:100%;">
		<style>.panel-title{font-size:16px}</style>	
		<table class="ctltable">
			<td id="t" style="float:left;display:none;width:190px;padding:15px;">
				<div id='p' style="width:190px;padding-left:5px;padding-right:5px;padding-bottom:5px;" >			
					<a href="#" id='c' class="easyui-linkbutton c6" style="width:85px;height:25px;margin-top:5px;padding:5px">充</a>
					<a href="#" id='d' class="easyui-linkbutton c6" style="width:85px;height:25px;margin-top:5px;padding:5px">放</a>
					<a href="#" id='g' class="easyui-linkbutton c6" style="width:85px;height:25px;margin-top:5px;padding:5px">故障</a>
					<a href="#" id='e' class="easyui-linkbutton" style="width:85px;margin-top:5px;" data-options="iconCls:'icon-redo'">进入</a>
					<div id='tt' class="temperature" style="color:white;margin-top:5px;padding:2px;background-color:rgb(38,121,150);">流量/温度:</div>
				</div>
				<div class="footer" id="f" style="padding:2px;height:15px;">
				</div>
			</td>
		</table>
	</div>	
	<div id="w" class="easyui-dialog" title="添加名称" closed="true" style="text-align:center;width:200px;height:110px;padding:5px;">		
		<style>.panel-title{font-size:12px}</style>	
		<div style="margin-top:6px">
			<span style="font-size:12px;">名称：</span>
			<input class="easyui-textbox" type="text" id="cname" name="cname" style="width:100px;height:20px;padding:5px" data-options="required:true,prompt:'名称'">
		</div>		
		<div style="margin-top:7px">
			<a href="#" id="setName" class="easyui-linkbutton" data-options="iconCls:'icon-ok'">确定</a>
			
		</div>
	</div>
</body>
<script type="text/javascript">

function formatDate(dtime){
	if(!dtime || dtime === -1) return '';
	var time = new Date(dtime),
		tmp = time.toLocaleDateString().split('/'),
		h = String(time.getHours()),
		m = String(time.getMinutes());
	if(tmp.length === 1){
		//处理浏览器兼容问题，有的浏览器时间格式是用'-'分割。有的是'/'分割
		tmp = time.toLocaleDateString().split('-');
	}
	if(tmp[1].length === 1) tmp[1] = '0' + tmp[1];
	if(tmp[2].length === 1) tmp[2] = '0' + tmp[2];
	if(h.length === 1) h = '0' + h;
	if(m.length === 1) m = '0' + m;
	datetime = tmp[1] + '-' + tmp[2] + ' ' + h + ':' + m;
	
	return datetime;
}

function removeAllCtl(){
	$('.dynamictr').remove();
	$('.dynamictd').remove();
}

function createCtl(cid){
	var ct = $("#t").clone();
	ct.css("display","block");
	ct.css("horizon-align","left");
	ct.attr("id","t_"+cid);
	ct.attr('class','dynamictd');
	ct.children("#p").attr("id","p_"+cid);
	ct.children("#p_"+cid).children('#c').attr("id","c_"+cid);
	ct.children("#p_"+cid).children('#d').attr("id","d_"+cid);
	ct.children("#p_"+cid).children('#g').attr("id","g_"+cid);
	ct.children("#p_"+cid).children('#e').attr("id","e_"+cid);
	ct.children("#p_"+cid).children('#tt').attr("id","tt_"+cid);
	ct.children("#f").attr("id","f_"+cid);
	var nTds = $('td').length - 1,
		nTrs = $('tr').length;
	if(parseInt(nTds/6) >= nTrs){
		var tr = $('<tr />');
		tr.attr('class','dynamictr');
		$('table').append(tr);
	}
	$('tr:last').append(ct);
	$('#p_'+cid).panel({
	    title:'未使用',
	    footer:'#f_'+cid,
	    closed:false,
	    tools:[{
	        iconCls:'icon-edit',
	        handler:modifyName
	    },{
	        iconCls:'icon-reload',
	        handler:reloadData
	    }]
	});
	$("#p_"+cid).attr('class','panel-body panel-body-nobottom c2');
}

function bindCtlData(data){
	if(!data) return;
	if(!data.chargeNum) data.chargeNum = 0;
	if(!data.lightNum) data.lightNum = 0;
	if(!data.brokenNum) data.brokenNum = 0;
	if(!data.lightCount) data.lightCount = 0;
	$("#p_"+data.cid).panel({title:data.name + ":" + data.cid + "/" + data.lightCount});	//title
	var maxCharge = '',maxDischarge = '';
	var tmp1 = $("#c_"+data.cid).data('maxCharge');
	if(tmp1) maxCharge = tmp1 + 'W';
	var tmp2 = $("#d_"+data.cid).data('maxDischarge');
	if(tmp2) maxDischarge = tmp2 + 'W';
	$("#c_"+data.cid).text(data.chargeNum + " 充 " + maxCharge);	//充电
	$("#c_"+data.cid).data('charge',data.chargeNum);
	$("#d_"+data.cid).text(data.lightNum + " 放 " + maxDischarge);	//放电
	$("#d_"+data.cid).data('discharge',data.lightNum);
	$("#g_"+data.cid).text("故障 " + data.brokenNum);	//故障
	$("#g_"+data.cid).data('broke',data.brokenNum);
	$("#e_"+data.cid).attr("href","/light?cid=" + data.cid);	//进入button
	$("#e_"+data.cid).attr("target","_blank");
	if(data.state === 1){
		$("#p_"+data.cid).attr('class','panel-body panel-body-nobottom c4');
		$("#f_"+data.cid).text("连接");
		var thetime = formatDate(data.cnnTime);
		if(thetime !== '')
			$("#f_"+data.cid).text("连接(" + thetime + ")");
		var thetime = formatDate(data.cnnTime);
		$("#f_"+data.cid).text("已连接(" + thetime + ")");
		if(data.chargeState === "charing"){
			$("#c_"+data.cid).attr('class',"easyui-linkbutton c1 l-btn l-btn-small");
		}else{
			$("#c_"+data.cid).attr('class',"easyui-linkbutton c2 l-btn l-btn-small");
		}
		if(data.lightState === "lighting"){				
			$("#d_"+data.cid).attr('class','easyui-linkbutton c7 l-btn l-btn-small');
		}
		else {
			$("#d_"+data.cid).attr('class','easyui-linkbutton c2 l-btn l-btn-small');
		}
		if(data.brokenState === "broken"){
			$("#g_"+data.cid).attr('class','easyui-linkbutton c5 l-btn l-btn-small');
		}
		else {
			$("#g_"+data.cid).attr('class','easyui-linkbutton c1 l-btn l-btn-small');
		}
	}
	else{
		$("#p_"+data.cid).attr('class','panel-body panel-body-nobottom c2');
		$("#f_"+data.cid).text("断开");
		var thetime = formatDate(data.cnnTime);
		if(thetime !== '')
			$("#f_"+data.cid).text("断开(" + thetime + ")");
		$("#c_"+data.cid).attr('class',"easyui-linkbutton c6 l-btn l-btn-small");
		$("#d_"+data.cid).attr('class','easyui-linkbutton c6 l-btn l-btn-small');
		$("#g_"+data.cid).attr('class','easyui-linkbutton c6 l-btn l-btn-small');
	}
	$('#t_'+data.cid).data('ctl',data);
}

function loadSystemTime() { 

	$.get('/getTime?ts:'+new Date(), {}, function(data){ 
		if (window.scClock) 
			window.scClock.updateTime(data);
	}); 
	setTimeout("loadSystemTime()", 60000*15); 
} 

function startupClock() { 
	if (window.scClock) { 
		window.scClock.startup(function(time){ 
			$("#currTime").text(time); 
			$("#currTime").textbox('setText',time);
		}); 
	} 
}

loadSystemTime();
startupClock();

var l = window.location.href.split('/'),
	url = 'http://' + l[2];
var socket = io.connect(url+':8080');

socket.on('connect', function (argument) {
    console.log('!!!!connected.');
});

socket.on('onCtlRegistered', function (data) {
    console.log('onCtlRegistered...',data);
    if(String(data.index) === "<%= user.index %>" && 
    	String(data.code) === "<%= user.code %>"){
    	createCtl(data.cid);
    	bindCtlData(data);
    }
});

socket.on('disconnect', function (argument) {
    console.log('!!!!!disconnected.');
});

socket.on('onMaxCtlPowers', function (argument) {
    console.log('!!!!!onMaxCtlPowers.');
    for(var c in argument){
    	var ctl = argument[c];
	    if(String(ctl.index) === "<%= user.index %>" && 
	        String(ctl.code) === "<%= user.code %>"){
	    	var cNum = '0',dNum = '0';
	    	var tmp1 = $("#c_"+ctl.cid).data('charge');
	    	if(tmp1) cNum = tmp1;
	    	var tmp2 = $("#c_"+ctl.cid).data('discharge');
	    	if(tmp2) dNum = tmp2;
	    	var maxCPower = '',maxDPower = '';
			if(ctl.hasOwnProperty('cpower') && ctl.cpower !== -1){
				maxCPower = ctl.cpower+'W';
				$("#c_"+ctl.cid).data('maxCharge',ctl.cpower);
			}
			if(ctl.hasOwnProperty('dpower') && ctl.dpower !== -1){
				maxDPower = ctl.dpower+'W';
				$("#d_"+ctl.cid).data('maxDischarge',ctl.dpower);
			}
			$("#c_"+ctl.cid).text(cNum + ' 充 ' + maxCPower);
			$("#d_"+ctl.cid).text(dNum + ' 放 ' + maxDPower);
	    }
    }
});

socket.on('onUpdateData', function (argument) {
    console.log('!!!!!update data.',argument);
    if(String(argument.index) === "<%= user.index %>" && 
       	String(argument.code) === "<%= user.code %>"){
    	var strTraffic = "流量/温度:";
		if(argument.people !== undefined && argument.people !== -1 && 
			argument.vehicle !== undefined && argument.vehicle !== -1 && 
			argument.temperature !== undefined && argument.temperature !== -1){
			strTraffic += argument.people + ' ' + argument.vehicle + ' ' + argument.temperature + '℃';
		}
		$("#tt_"+argument.cid).text(strTraffic);
   }
});

socket.on('onCtlOnline', function (argument) {
    console.log('!!!!onCtlOnline.',argument);
    if(String(argument.index) === "<%= user.index %>" && 
    	String(argument.code) === "<%= user.code %>"){
    	bindCtlData(argument);
    }
});

socket.on('onCtlOffline', function (argument) {
    console.log('!!!!onCtlOffline.',argument);
    if(String(argument.index) === "<%= user.index %>" && 
    	String(argument.code) === "<%= user.code %>"){
    	bindCtlData(argument);
    }
});

function reloadCtl(ctl){
	if(!ctl) return;
	$.post('getControllerInfo',{index:ctl.index, code:ctl.code, cid:ctl.cid}, function(data, status){
		if(data !== "failed"){
			bindCtlData(data);
		}
	});
}

function reloadAll() {
	var na = "<%= user.username %>",
		idx = "<%= user.index %>",
		co = "<%= user.code %>";
	$.post('getAllControllers',{index:idx, code:co}, function(data, status){
		if(data === 'session expired'){
			window.location = "/";
		}
		else if (data !== null && data !== undefined && data !== 'failed'){
			for (var i=0;i<data.length;i++) {
				bindCtlData(data[i]);
			}
		}
	});
	setTimeout("reloadAll()", 10*1000);
};

function reloadData(){
	var ctl = $(this).parent().parent().parent().parent().data('ctl');
	reloadCtl(ctl);
}

function modifyName(){
	var d = $(this).parent().parent().parent().parent().data('ctl');
	$('#w').data('data',d);
	$('#cname').textbox('setText',d.name);
	$('#w').window('open');
}

$("#setName").click(function() {
	console.debug($('#w').data('data'));
	var ctl = $('#w').data('data'),
		na = $('#cname').val();
	if(!ctl || na === "") return;
	$.post('updateCtlName',{index:ctl.index,code:ctl.code,cid:ctl.cid,name:na},function(result, status){
		if(result === "success"){
			$("#p_"+ctl.cid).panel({title:na+":"+ctl.cid});
			$('#w').window('close');
		}
	});
});

window.onload = function (){
	var na = "<%= user.username %>",
		idx = "<%= user.index %>",
		co = "<%= user.code %>";
	$.post('getAllControllers',{index:idx, code:co}, function(data, status){
		if(data === 'session expired'){
			window.location = "/";
		}
		else if (data !== null && data !== undefined && data !== 'failed'){
			for (var i=0;i<data.length;i++) {
				createCtl(data[i].cid);
				bindCtlData(data[i]);
				setTimeout("reloadAll()", 10*1000);
			}
		}
	});
}
</script>
</html>