<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Light</title>
	<link rel="stylesheet" type="text/css" href="css/default/easyui.css">
	<link rel="stylesheet" type="text/css" href="css/color.css">	
	<link rel="stylesheet" type="text/css" href="css/icon.css">
	<script type="text/javascript" src="lib/jquery.min.js"></script>
	<script type="text/javascript" src="lib/jquery.easyui.min.js"></script>
	<script type="text/javascript" src="lib/socket.io/socket.io.js"></script>
	<script type="text/javascript" src="lib/sc_clock.js"></script>
</head>
<body>
	<div style="margin-top:6px;padding:5px;">
		用户名：<%= user.username %>
		编号：<%= user.index %>
		机器密码：<%= user.code %>
		控制器编号：<%= user.cid %>
		<span style="font-size:14px;margin-left:70px">灯编号：</span>
		<input class="easyui-textbox" type="text" id="currLight" style="width:40px;height:20px;padding:5px">
		<a href="#" id="readItem" class="easyui-linkbutton">
			<span style="font-size:14px;">读取</span>
		</a>
		<a href="#" id="modifyItem" class="easyui-linkbutton">
			<span style="font-size:14px;">更改</span>
		</a>
		<a href="#" id="modifyAll" class="easyui-linkbutton">
			<span style="font-size:14px;">全部更改</span>
		</a>
		<a href="#" id="modifySingle" class="easyui-linkbutton">
			<span style="font-size:14px;">单数更改</span>
		</a>
		<a href="#" id="modifyDouble" class="easyui-linkbutton">
			<span style="font-size:14px;">双数更改</span>
		</a>
		<a href="#" id="clearAll" class="easyui-linkbutton">
			<span style="font-size:14px;">一键清除</span>
		</a>
		<span style="font-size:14px;">已更新时长：</span>
		<input class="easyui-textbox" type="text" id="currTime" name="currTime" style="width:130px;height:20px;padding:5px" data-options="readonly:true">
		<a href="/traffic" id="exportdata" class="btn" href="#">
			<span style="font-size:16px;">流量数据</span>
		</a>
		<a href="/maxpower" id="maxpower" class="btn" href="#">
			<span style="font-size:16px;margin-left:10px">最大功率</span>
		</a>		
	</div>	
	<div style="border-top:2px solid black;border-bottom:2px solid black;border-left:2px solid black;border-right:2px solid black;margin-top:2px;padding:2px;">详细信息：
		<span style="font-size:8px">控制方式</span>
		<input id="ctrltype" class="easyui-combobox" style="width:60px;" value=3 data-options="valueField:'ctypeValue',textField:'ctypeName',data:ctypeData">
		<span style="font-size:8px">自动方式</span>
		<input id="autotype" class="easyui-combobox" style="width:60px;" value=2 data-options="valueField:'atypeValue',textField:'atypeName',data:atypeData">
		<span style="font-size:8px">开灯时间</span>
		<input class="easyui-textbox" type="text" id="ontime" style="width:60px;height:20px">
		<span style="font-size:8px">光控电压</span>
		<input class="easyui-textbox" type="text" id="voltage" style="width:40px;height:20px" data-options="
						formatter:function(value,row){
                            return value + 'v';}
						">
		
		<span style="font-size:8px">1亮度</span>
		<input class="easyui-textbox" type="text" id="onelight" style="width:50px;height:20px">
		<span style="font-size:8px">1时间</span>
		<input class="easyui-textbox" type="text" id="onetime" style="width:40px;height:20px">
		
		<span style="font-size:8px">2亮度</span>
		<input class="easyui-textbox" type="text" id="twolight" style="width:50px;height:20px;padding:2px">
		<span style="font-size:8px">2时间</span>
		<input class="easyui-textbox" type="text" id="twotime" style="width:40px;height:20px;padding:2px">
		
		<span style="font-size:8px">3亮度</span>
		<input class="easyui-textbox" type="text" id="threelight" style="width:50px;height:20px;padding:2px">
		<span style="font-size:8px">3时间</span>
		<input class="easyui-textbox" type="text" id="threetime" style="width:40px;height:20px;padding:2px">
		
		<span style="font-size:8px">4亮度</span>
		<input class="easyui-textbox" type="text" id="fourlight" style="width:50px;height:20px;padding:2px">
		<span style="font-size:8px">4时间</span>
		<input class="easyui-textbox" type="text" id="fourtime" style="width:40px;height:20px;padding:2px">
	</div>
	<div style="margin-top:2px;padding:5px;">
	</div>
	<table id="dg" class="easyui-datagrid" style="width:99.5%;padding:2px"	data-options="
		singleSelect:true,
		url:'light_datagrid.json',
		method:'post',
		onClickCell: onClickCell,
		onSelect: onRowSelected,
		onLoadSuccess: onLoadSuccess">
		<style>
		  .datagrid-cell{
			font-size:14px;
		  }
		</style>
		<thead>
			<tr>
				<th field='index' width=60 align='center' styler="indexStyler" formatter="indexFomatter">
				<span style="font-size:12px;font-weight: bolder">编号/故障</span>
				</th>
				<th field='name' width=60 align="center" editor="{type:'textbox'}">
				<span style="font-size:12px;font-weight: bolder">名称</span>
				</th>
				<th data-options="field:'time',width:80,
						formatter:function(value,row){
							if(row.state === -1)
								return '';
							else{
								if(!value) return '';
								var time = new Date(value),
									tmp = time.toLocaleDateString().split('/');
									datetime = tmp[1] + '-' + tmp[2] + ' ' + time.getHours() + ':' + time.getMinutes();
								return datetime;
							}
                        }">
				<span style="font-size:12px;align:center;font-weight:bolder">数据时间</span>
				</th>
				<th data-options="field:'charging',width:35,
						formatter:function(value,row){
							if(row.state === -1)
								return '';
							if(value === 0)
								return '停';
							if(value === 1)
                            	return '充';
                        }">
				<span style="font-size:12px;font-weight: bolder">充电</span>
				</th>
				<th data-options="field:'onoff',width:35,
						formatter:function(value,row){
							if(row.state === -1)
								return '';
							if(value === 0)
								return '关';
							if(value === 1)
                            	return '开';
                        }">
				<span style="font-size:12px;font-weight: bolder">开关 </span>
				</th>
				<th data-options="field:'cpower',width:60,
						formatter:function(value,row){
							if(row.state === -1)
								return '';
							else
								return value + 'w';
                        }">
				<span style="font-size:12px;font-weight: bolder">充电功率</span>
				</th>
				<th data-options="field:'lpower',width:60,
						formatter:function(value,row){
							if(row.state === -1)
								return '';
							else
								return value + 'w';
                        }">
				<span style="font-size:12px;font-weight: bolder">放电功率</span>
				</th>
				<th data-options="field:'battery',width:60,
						formatter:function(value,row){
							if(row.state === -1)
								return '';
							else
								return value + '%';
                        }">
				<span style="font-size:12px;font-weight: bolder">电池电量</span>
				</th>
				<th data-options="field:'temp',width:50,
						formatter:function(value,row){
							if(row.state === -1)
								return '';
							else
								return -50 + parseInt(value)/2 + 'C°';
                        }">
				<span style="font-size:12px;font-weight: bolder">温度</span>
				</th>
				<th data-options="field:'batype',width:60,
						formatter:function(value,row){
							if(row.state === -1)
								return '';
							if(value === 0)
								return '锂11V';
							if(value === 1)
                            	return '锂16V';
                            if(value === 2)
								return '铅12V';
							if(value === 3)
                            	return '铅24V';
                        }">
				<span style="font-size:12px;font-weight: bolder">电池类型</span>
				</th>
				<th data-options="field:'capacity',width:40,
						formatter:function(value,row){
							if(row.state === -1)
								return '';
							else
								return value + 'A';
                        }">
				<span style="font-size:12px;font-weight: bolder">容量</span>
				</th>
				<th data-options="field:'pdate',width:80,
						formatter:function(value,row){
							if(row.state === -1)
								return '';
							else
								return value;
                        }">
				<span style="font-size:12px;font-weight: bolder">生产日期</span>
				</th>
				<th data-options="field:'ctltype',width:60,
						styler:function(value,row,index){
							return 'background-color:#aaee00;';
						},
						formatter:function(value,row){
							if(row.state === -1)
								return '';
							if(String(value) === '0')
								return '关';
							if(String(value) === '1')
                            	return '开';
                            if(String(value) === '2')
                            	return '自动';
                        }">
				<span style="font-size:12px;font-weight: bolder">控制方式</span>
				</th>
				<th data-options="field:'autotype',width:55,
						styler:function(value,row,index){
							return 'background-color:#aaee00;';
						},
						formatter:function(value,row){
							if(row.state === -1)
								return '';
							if(String(value) === '0')
								return '光控';
							if(String(value) === '1')
                            	return '时控';
                        }">
				<span style="font-size:12px;font-weight: bolder">自动方式</span>
				</th>
				<th data-options="field:'ontime',width:55,
						styler:function(value,row,index){
							return 'background-color:#aaee00;';
						},
						formatter:function(value,row){
							if(row.state === -1)
								return '';
							else
								return value;
                        }">
				<span style="font-size:12px;font-weight: bolder">开灯时间</span>
				</th>
				<th data-options="field:'lcvoltage',width:55,
						styler:function(value,row,index){
							return 'background-color:#aaee00;';
						},
						formatter:function(value,row){
							if(row.state === -1)
								return '';
							else
								return value + 'V';
                        }">
				<span style="font-size:12px;font-weight: bolder">光控电压</span>
				</th>
				<th data-options="field:'abright',width:40,
						styler:function(value,row,index){
							if(row.curTime === 1)
								return 'background-color:yellow;';
							else
								return 'background-color:#aaee00;';
						},
						formatter:function(value,row){
							if(row.state === -1)
								return '';
							else
								return value + '%';
                        }">
				<span style="font-size:12px;font-weight: bolder">1亮度</span>
				</th>
				<th data-options="field:'atime',width:40,
						styler:function(value,row,index){
							if(row.curTime === 1)
								return 'background-color:yellow;';
							else
								return 'background-color:#aaee00;';
						},
						formatter:function(value,row){
							if(row.state === -1)
								return '';
							else
								return value + 'h';
                        }">
				<span style="font-size:12px;font-weight: bolder">1时间</span>
				</th>
				<th data-options="field:'bbright',width:40,
						styler:function(value,row,index){
							if(row.curTime === 2)
								return 'background-color:yellow;';
							else
								return 'background-color:#aaee00;';
						},
						formatter:function(value,row){
							if(row.state === -1)
								return '';
							else
								return value + '%';
                        }">
				<span style="font-size:12px;font-weight: bolder">2亮度</span>
				</th>
				<th data-options="field:'btime',width:40,
						styler:function(value,row,index){
							if(row.curTime === 2)
								return 'background-color:yellow;';
							else
								return 'background-color:#aaee00;';
						},
						formatter:function(value,row){
							if(row.state === -1)
								return '';
							else
								return value + 'h';
                        }">
				<span style="font-size:12px;font-weight: bolder">2时间</span>
				</th>
				<th data-options="field:'cbright',width:40,
						styler:function(value,row,index){
							if(row.curTime === 3)
								return 'background-color:yellow;';
							else
								return 'background-color:#aaee00;';
						},
						formatter:function(value,row){
							if(row.state === -1)
								return '';
							else
								return value + '%';
                        }">
				<span style="font-size:12px;font-weight: bolder">3亮度</span>
				</th>
				<th data-options="field:'ctime',width:40,
						styler:function(value,row,index){
							if(row.curTime === 3)
								return 'background-color:yellow;';
							else
								return 'background-color:#aaee00;';
						},
						formatter:function(value,row){
							if(row.state === -1)
								return '';
							else
								return value + 'h';
                        }">
				<span style="font-size:12px;font-weight: bolder">3时间</span>
				</th>
				<th data-options="field:'dbright',width:40,
						styler:function(value,row,index){
							if(row.curTime === 4)
								return 'background-color:yellow;';
							else
								return 'background-color:#aaee00;';
						},
						formatter:function(value,row){
							if(row.state === -1)
								return '';
							else
								return value + '%';
                        }">
				<span style="font-size:12px;font-weight: bolder">4亮度</span>
				</th>
				<th data-options="field:'dtime',width:40,
						styler:function(value,row,index){
							if(row.curTime === 4)
								return 'background-color:yellow;';
							else
								return 'background-color:#aaee00;';
						},
						formatter:function(value,row){
							if(row.state === -1)
								return '';
							else
								return value + 'h';
                        }">
				<span style="font-size:12px;font-weight: bolder">4时间</span>
				</th>
				<th field='bSet' width=100 align='center' formatter="formatSetting">
				<span style="font-size:12px;font-weight: bolder">操作</span>
				</th>
			</tr>
		</thead>
	</table>

</body>
<script type="text/javascript">
var ctypeData = [{ctypeValue:0,ctypeName:'关'},
				{ctypeValue:1,ctypeName:'开'},
				{ctypeValue:2,ctypeName:'自动'},
				{ctypeValue:3,ctypeName:''}];
var atypeData = [{atypeValue:0,atypeName:'光控'},
				{atypeValue:1,atypeName:'时控'},
				{atypeValue:2,atypeName:''}];

$.extend($.fn.datagrid.methods, {
	editCell: function(jq,param){
		return jq.each(function(){
			var opts = $(this).datagrid('options');
			var fields = $(this).datagrid('getColumnFields',true).concat($(this).datagrid('getColumnFields'));
			for(var i=0; i<fields.length; i++){
				var col = $(this).datagrid('getColumnOption', fields[i]);
				col.editor1 = col.editor;
				if (fields[i] != param.field){
					col.editor = null;
				}
			}
			$(this).datagrid('beginEdit', param.index);
			for(var i=0; i<fields.length; i++){
				var col = $(this).datagrid('getColumnOption', fields[i]);
				col.editor = col.editor1;
			}
		});
	}
});

var editIndex = undefined;
function endEditing(){
	if (editIndex == undefined){return true}
	if ($('#dg').datagrid('validateRow', editIndex)){
		$('#dg').datagrid('endEdit', editIndex);
		editIndex = undefined;
		return true;
	} else {
		return false;
	}
}
function onClickCell(index, field){
	if (endEditing()){
		$('#dg').datagrid('selectRow', index)
				.datagrid('editCell', {index:index,field:field});
		editIndex = index;
	}
}
function onRowSelected(index,row){
	$('#currLight').textbox('setValue',row.index);
	$('#currLight').textbox('setText',row.index+1+'');
}

function onLoadSuccess(data){
	$('#dg')[0].data = jQuery.extend(true, {}, data);
	/*var panel = $(this).datagrid('getPanel');
    var tr = panel.find('div.datagrid-body tr');
    tr.each(function(){
    	var ltid = $(this).children('td[field="index"]').text();
    	ltid = parseInt(ltid);
    	if(ltid == 7){
    		var td = $(this).children('td[field="cbright"]');
    		td.children("div").css({
				"background-color": "yellow"
			});
			//实现break功能
			return false;
    	}
    });*/   
}

function setProcess(lid,process){
	if(process < 1 || process > 4) return;	
	var panel = $('#dg').datagrid('getPanel');
    var tr = panel.find('div.datagrid-body tr');
    tr.each(function(){
    	var ltid = $(this).children('td[field="index"]').text();
    	ltid = parseInt(ltid);
    	if(ltid == lid){
    		//先重置进度
    		var td10 = $(this).children('td[field="atime"]');
    		td10.children("div").css({
				"background-color": "#aaee00"
			});
			var td11 = $(this).children('td[field="abright"]');
    		td11.children("div").css({
				"background-color": "#aaee00"
			});
			
			var td20 = $(this).children('td[field="btime"]');
    		td20.children("div").css({
				"background-color": "#aaee00"
			});
			var td21 = $(this).children('td[field="bbright"]');
    		td21.children("div").css({
				"background-color": "#aaee00"
			});
			
			var td30 = $(this).children('td[field="ctime"]');
    		td30.children("div").css({
				"background-color": "#aaee00"
			});
			var td31 = $(this).children('td[field="cbright"]');
    		td31.children("div").css({
				"background-color": "#aaee00"
			});
			
			var td40 = $(this).children('td[field="dtime"]');
    		td40.children("div").css({
				"background-color": "#aaee00"
			});
			var td41 = $(this).children('td[field="dbright"]');
    		td41.children("div").css({
				"background-color": "#aaee00"
			});
			
			if(process === 1){
	    		td10.children("div").css({
					"background-color": "yellow"
				});
	    		td11.children("div").css({
					"background-color": "yellow"
				});
			}
			if(process === 2){
	    		td20.children("div").css({
					"background-color": "yellow"
				});
	    		td21.children("div").css({
					"background-color": "yellow"
				});
			}
			if(process === 3){
	    		td30.children("div").css({
					"background-color": "yellow"
				});
	    		td31.children("div").css({
					"background-color": "yellow"
				});
			}
			if(process === 4){
	    		td40.children("div").css({
					"background-color": "yellow"
				});
	    		td41.children("div").css({
					"background-color": "yellow"
				});
			}
			
			//实现break功能
			return false;
    	}
    });
}

function startupClock() { 
	if (window.scClock) { 
		window.scClock.startup(function(time){
			$("#currTime").textbox('setText',time);
		}); 
	} 
}

function chooseChangeFileds(Old, New){
	var na = {};
	for(var a in Old){
		if(New.hasOwnProperty(a)){
			if(String(New[a]) !== String(Old[a])){
				na[a] = New[a];
			}
		}
	}
	return na;
};

var	updateTime = "N/A",
	lastTime = 0;
function setUpdateTime(){
	var elapsed = "";
	if(updateTime === "N/A"){
		elapsed = updateTime;
	}else{
		var lastSeconds = parseInt((new Date() - updateTime)/1000),
			days = Math.floor(lastSeconds / 1440 / 60),
			hours = Math.floor((lastSeconds - days * 1440 * 60) / 3600),
			minutes = Math.floor((lastSeconds - days * 1440 * 60 - hours * 3600) / 60),
			seconds = (lastSeconds - days * 1440 * 60 - hours * 3600 - minutes *60);
		elapsed = days + ' 天 ' + hours + ' 时 ' + minutes + ' 分 ' + seconds + ' 秒';
	}
	if(new Date() - lastTime > 15*1000){
		$.get('/getCtlUpdateTime?'+new Date(), {}, function(data){ 
			if(data && data !== 'failed')
				updateTime = new Date(data);
		});
		lastTime = new Date();
	}
	$("#currTime").textbox('setText',elapsed);
	setTimeout("setUpdateTime()", 1000);
}

var l = window.location.href.split('/'),
	url = 'http://' + l[2];
var socket = io.connect(url+':8080');

socket.on('connect', function (argument) {
    console.log('@@@@@connected.');    
});

socket.on('disconnect', function (argument) {
    console.log('!!!!!disconnected.');    
});

socket.on('onLightGetSet', function (argument) {
    console.log('!!!!onLightGetSet.',argument);
    if(String(argument.uindex) === "<%= user.index %>" && 
    	String(argument.ucode) === "<%= user.code %>" && 
    	String(argument.cid) === "<%= user.cid %>"){
	    var rows = $('#dg').datagrid('getRows');    
	    for(var i in rows){
	    	if(rows[i].index === argument.index){
	    		$('#dg').datagrid('updateRow',{
					index: i,
					row: argument
				});
	    		break;
	    	}
	    }
    }
});

socket.on('onLightPutSet', function (argument) {
    console.log('!!!!onLightPutSet.',argument);
    if(String(argument.uindex) === "<%= user.index %>" && 
    	String(argument.ucode) === "<%= user.code %>" && 
    	String(argument.cid) === "<%= user.cid %>"){
	    var rows = $('#dg').datagrid('getRows');
	    var bExist = false;
	    for(var i in rows){
	    	if(rows[i].index === argument.index){
	    		bExist = true;
	    		$('#dg').datagrid('updateRow',{
					index: i,
					row: argument
				});
	    		break;
	    	}
	    }
	    if(!bExist){
	    	$('#dg').datagrid('appendRow',argument);
	    }
    }
    if(argument.curTime)
    	setProcess(parseInt(argument.index),parseInt(argument.curTime));
});

window.onload = function(){
	
	setUpdateTime();
}

function formatSetting(value,row){
	if(value === 1)
		return '<span style="color:red;font-weight: bolder">待更新</span>';
};

function indexStyler(value,row,index){
	if(row.state === 1 || row.state === -1)
		return 'background-color:red;';
	else
		return 'background-color:none;';
};

function indexFomatter(value, row){
	return value+1;
};

function setChanging(idx){
	$("#btnset")[idx].style.backgroundColor = "rgb(100,100,100)";
};

$('#dg').datagrid({
	onEndEdit: function(index,row){
		//console.log('index:'+index+' name:'+row.name);
		//row.editing = false;
		/*$.post('saveName',{index:index,name:row.name},function(result, status){
			if(result === "success"){
				alert('修改成功!');
			}
			else {
				alert('修改失败!');
			}
		});*/
	}
});

$('#dg').datagrid({
	onAfterEdit: function(index,row,changes){
		if(JSON.stringify(changes) === '{}') return;
		console.log('onAfterEdit...index:'+index+' name:'+row.name+' changes:'+JSON.stringify(changes));
		$.post('saveName',{index:index,name:row.name},function(result, status){
			if(result === "succeed"){
				$.messager.alert('提示','修改成功!');
			}
			else {
				$.messager.alert('提示','修改失败!');
			}
		});
		row.editing = false;
	}
});

$('#clearAll').click(function(){
	$.post('removeAllLights',{},function(result, status){
		if(result === "success"){
			$('#dg').datagrid('reload');
		}
		else {
			$.messager.alert('提示','清除失败');
		}
	});
});

/*
$('#exportdata').click(function(){
	$.post('exportUsefulData',{},function(result, status){
		if(result !== "failed"){
			window.open(result);
		}
		else {
			$.messager.alert('提示','下载失败');
		}
	});
});
*/

$('#readItem').click(function(){
	var index=$('#currLight').textbox('getValue')+'';
	if(index === '') return;
	index = parseInt(index);
	var rows = $('#dg').datagrid('getRows');
	var row = rows[index];
	if(row.state === 1) return;
	$('#ctrltype').combobox('setValue',row.ctltype);
	$('#autotype').combobox('setValue',row.autotype);
	$('#ontime').textbox('setValue',row.ontime);
	$('#voltage').textbox('setValue',row.lcvoltage);
	$('#voltage').textbox('setText',row.lcvoltage+'v');
	$('#onelight').textbox('setValue',row.abright);
	$('#onelight').textbox('setText',row.abright+'%');
	$('#onetime').textbox('setValue',row.atime);
	$('#onetime').textbox('setText',row.atime+'h');
	$('#twolight').textbox('setValue',row.bbright);
	$('#twolight').textbox('setText',row.bbright+'%');
	$('#twotime').textbox('setValue',row.btime);
	$('#twotime').textbox('setText',row.btime+'h');
	$('#threelight').textbox('setValue',row.cbright);
	$('#threelight').textbox('setText',row.cbright+'%');
	$('#threetime').textbox('setValue',row.ctime);
	$('#threetime').textbox('setText',row.ctime+'h');
	$('#fourlight').textbox('setValue',row.dbright);
	$('#fourlight').textbox('setText',row.dbright+'%');
	$('#fourtime').textbox('setValue',row.dtime);
	$('#fourtime').textbox('setText',row.dtime+'h');
});

function getNewData(old){
	//clone object
	var row = jQuery.extend({}, old);
	row.ctltype = parseInt($('#ctrltype').combobox('getValue'));
	row.autotype = parseInt($('#autotype').combobox('getValue'));
	row.ontime = $('#ontime').textbox('getText');
	row.lcvoltage = $('#voltage').textbox('getText');
	row.lcvoltage = parseInt(row.lcvoltage.replace('v',''));
	row.abright = $('#onelight').textbox('getText');
	row.abright = parseInt(row.abright.replace('%',''));
	row.atime = $('#onetime').textbox('getText');
	row.atime = parseInt(row.atime.replace('h',''));
	row.bbright = $('#twolight').textbox('getText');
	row.bbright = parseInt(row.bbright.replace('%',''));
	row.btime = $('#twotime').textbox('getText');
	row.btime = parseInt(row.btime.replace('h',''));
	row.cbright = $('#threelight').textbox('getText');
	row.cbright = parseInt(row.cbright.replace('%',''));
	row.ctime = $('#threetime').textbox('getText');
	row.ctime = parseInt(row.ctime.replace('h',''));
	row.dbright = $('#fourlight').textbox('getText');
	row.dbright = parseInt(row.dbright.replace('%',''));
	row.dtime = $('#fourtime').textbox('getText');
	row.dtime = parseInt(row.dtime.replace('h',''));
	return row;
};

$('#modifyItem').click(function(){
	//---------------v1.0---------------
	//var row = $('#dg').datagrid('getSelected');	
	//if(!row) return;
	//var index = $('#dg').datagrid('getRowIndex',row);
	//-----------------------------------
	
	//----------------v2.0--------------
	var index=$('#currLight').textbox('getValue')+'';
	if(index === '') return;
	index = parseInt(index);
	var old = $('#dg')[0].data.rows[index];	
	var row = getNewData(old);
	//-----------------------------------
	
	var changes = chooseChangeFileds(old, row);
	if(jQuery.isEmptyObject(changes)) return;	
	
	$.post('updateLight',row,function(result, status){
		if(result === "success"){
			//location.reload();
			$('#dg').datagrid('reload');
		}
		else {
			$.messager.alert('提示','更新失败');
		}
	});
});

$('#modifyAll').click(function(){
	//---------------v1.0---------------
	//var row = $('#dg').datagrid('getSelected');	
	//if(!row) return;	
	//var index = $('#dg').datagrid('getRowIndex',row);
	//----------------------------------
	
	//----------------v2.0--------------
	var index=$('#currLight').textbox('getValue')+'';
	if(index === '') return;
	index = parseInt(index);
	var old = $('#dg')[0].data.rows[index];	
	var row = getNewData(old);
	//-----------------------------------
	
	var changes = chooseChangeFileds(old, row);
	if(jQuery.isEmptyObject(changes)) return;	
	
	if(!changes.hasOwnProperty('uindex')){
		changes['uindex'] = row.uindex;
	}
	if(!changes.hasOwnProperty('ucode')){
		changes['ucode'] = row.ucode;
	}
	if(!changes.hasOwnProperty('cid')){
		changes['cid'] = row.cid;
	}
	$.post('updateAllLights',changes,function(result, status){
		if(result === "success"){
			//location.reload();
			$('#dg').datagrid('reload');
		}
		else {
			$.messager.alert('提示','操作失败！');
		}
	});
});

$('#modifySingle').click(function(){
	//---------------v1.0---------------
	//var row = $('#dg').datagrid('getSelected');	
	//if(!row) return;
	//var index = $('#dg').datagrid('getRowIndex',row);
	//-----------------------------------
	
	//----------------v2.0--------------
	var index=$('#currLight').textbox('getValue')+'';
	if(index === '') return;
	index = parseInt(index);
	var old = $('#dg')[0].data.rows[index];	
	var row = getNewData(old);
	//-----------------------------------
	
	var changes = chooseChangeFileds(old, row);
	if(jQuery.isEmptyObject(changes)) return;
	
	if(!changes.hasOwnProperty('uindex')){
		changes['uindex'] = row.uindex;
	}
	if(!changes.hasOwnProperty('ucode')){
		changes['ucode'] = row.ucode;
	}
	if(!changes.hasOwnProperty('cid')){
		changes['cid'] = row.cid;
	}
	$.post('updateSingleLights',changes,function(result, status){
		if(result === "success"){
			//location.reload();
			$('#dg').datagrid('reload');
		}
		else {
			$.messager.alert('提示','更新失败');
		}
	});
});

$('#modifyDouble').click(function(){
	//---------------v1.0---------------
	//var row = $('#dg').datagrid('getSelected');	
	//if(!row) return;
	//var index = $('#dg').datagrid('getRowIndex',row);
	//-----------------------------------
	
	//----------------v2.0--------------
	var index=$('#currLight').textbox('getValue')+'';
	if(index === '') return;
	index = parseInt(index);
	var old = $('#dg')[0].data.rows[index];	
	var row = getNewData(old);
	//-----------------------------------
	
	var changes = chooseChangeFileds(old, row);
	if(jQuery.isEmptyObject(changes)) return;
	
	if(!changes.hasOwnProperty('uindex')){
		changes['uindex'] = row.uindex;
	}
	if(!changes.hasOwnProperty('ucode')){
		changes['ucode'] = row.ucode;
	}
	if(!changes.hasOwnProperty('cid')){
		changes['cid'] = row.cid;
	}
	$.post('updateDoubleLights',changes,function(result, status){
		if(result === "success"){
			//location.reload();
			$('#dg').datagrid('reload');
		}
		else {
			$.messager.alert('提示','更新失败');
		}
	});
});

</script>
</html>