<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Login</title>
	<link rel="stylesheet" type="text/css" href="css/default/easyui.css">
	<link rel="stylesheet" type="text/css" href="css/icon.css">
	<script type="text/javascript" src="lib/jquery.min.js"></script>
	<script type="text/javascript" src="lib/jquery.easyui.min.js"></script>
</head>
<body>
	<form method="post">
		<div class='contaner' style='display:block;width:400px;margin-left:auto;margin-right:auto;margin-top:100px'>
		<div class="easyui-panel" title="登陆" style="width:400px;padding:30px 70px 20px 70px;">
			<style>.panel-title{font-size:16px}</style>
			<div style="margin-bottom:10px">
				<input class="easyui-textbox" type="text" id="username" name="username" value="lc1" style="width:100%;height:40px;padding:12px" data-options="required:true,prompt:'Username',iconCls:'icon-man',iconWidth:38">
			</div>
			<div style="margin-bottom:20px">
				<input class="easyui-textbox" type="password" id="password" name="password" value="123" style="width:100%;height:40px;padding:12px" data-options="required:true,prompt:'Password',iconCls:'icon-lock',iconWidth:38">
			</div>	
			<div class="alert alert-error" style="color:red">
				<%- message %>
			</div>
			<div class="form-actions">
				<button type="submit" class="easyui-linkbutton" data-options="iconCls:'icon-ok'" style="padding:5px 0px;width:100%;">
					<span style="font-size:16px;">登陆</span>
				</button>				
			</div>
		</div>
		</div>		
	</form>
</body>
<script type="text/javascript">
	$("#register").click(function(){
		$('#w').window('open');
	});
</script>
</html>