<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Traffic</title>
	<link rel="stylesheet" type="text/css" href="css/default/easyui.css">
	<link rel="stylesheet" type="text/css" href="css/color.css">	
	<link rel="stylesheet" type="text/css" href="css/icon.css">
	<script type="text/javascript" src="lib/jquery.min.js"></script>
	<script type="text/javascript" src="lib/jquery.easyui.min.js"></script>
	<script type="text/javascript" src="lib/socket.io/socket.io.js"></script>
	<script type="text/javascript" src="lib/sc_clock.js"></script>
</head>
<body>
	<div style="margin-top:6px;padding:5px;">
		用户名：<%= user.username %>
		编号：<%= user.index %>
		机器密码：<%= user.code %>
		控制器编号：<%= user.cid %>
		<a id="quit" class="btn" href="/light?cid=<%= user.cid %>">
			<span style="font-size:16px;margin-left:10px">退出</span>
		</a>		
	</div>
	<div style="margin-top:2px;padding:5px;">
		<span style="font-size:14px;font-weight: bolder">流量数据</span>
		<a id="exportdata" class="btn" href="#">
			<span style="font-size:16px;">下载</span>
		</a>
	</div>
	<table id="dg" class="easyui-datagrid" style="width:550px;padding:2px"	data-options="
		singleSelect:true,
		url:'traffic.json',
		method:'post',
		onLoadSuccess: onLoadSuccess">
		<style>
		  .datagrid-cell{
			font-size:14px;
		  }
		</style>
		<thead>
			<tr>
				<th data-options="field:'time',width:200,
					formatter:function(value,row){
						if(!value) return '';
						var time = new Date(value);
						return time.toLocaleString();
                	}">
				<span style="font-size:12px;align:center;font-weight:bolder">时间</span>
				</th>
				<th field='people' width=100 align="center">
				<span style="font-size:12px;font-weight: bolder">人流量</span>
				</th>
				<th field='vehicle' width=100 align="center">
				<span style="font-size:12px;align:center;font-weight:bolder">车流量</span>
				</th>
				<th data-options="field:'temperature',width:100,align:'center',
						formatter:function(value,row){
							return value + '℃';
                        }">
				<span style="font-size:12px;align:center;font-weight: bolder">温度 </span>
				</th>
			</tr>
		</thead>
	</table>
</body>
<script type="text/javascript">

function onLoadSuccess(data){
	$('#dg')[0].data = jQuery.extend(true, {}, data);
}

$('#exportdata').click(function(){
	$.post('exportUsefulData',{},function(result, status){
		if(result !== "failed"){
			window.open(result);
		}
		else {
			$.messager.alert('提示','下载失败');
		}
	});
});

</script>
</html>